<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
<div class="navbar" th:insert="~{header/navbar :: copy}"></div>
<div class="sign_up_form">
    <h1>Регистрация</h1>
    <div th:if="${param.success}">Регистрация успешно прошла, для подтверждения на почту отправленно письмо</div>
    <div th:if="${param.error}">Пользователь с такой электронной почтой уже существует</div>
    <div th:object="${person}">
        <p class="error_label" th:each="error: ${#fields.errors}" th:text="${error}"></p>
    </div>
    <form th:method="POST" th:action="@{/sign_up/registration}" th:object="${person}">
        <p><label for="username">Имя пользователя</label>
            <label for="username" th:if="${#fields.hasErrors('username')}" th:class="error_label">*</label>
            <input id="username" th:field="*{username}" type="text">
        </p>
        <p><label for="password">Пароль</label>
            <label for="password" th:if="${#fields.hasErrors('password')}" th:class="error_label">*</label>
            <input class="security" id="password" th:field="*{password}" type="password">
        </p>
        <p><label for="password_confirm">Подтвердите пароль</label>
            <label for="password_confirm" th:if="${#fields.hasErrors('passwordConfirm')}" th:class="error_label">*</label>
            <input id="password_confirm" th:field="*{passwordConfirm}" type="password">
        </p>
        <p><label for="email">Электронная почта</label>
            <label for="email" th:if="${#fields.hasErrors('email')}" th:class="error_label">*</label>
            <input id="email" th:field="*{email}" type="email">
        </p>
        <p><label for="age">Возраст</label>
            <label for="age" th:if="${#fields.hasErrors('age')}" th:class="error_label">*</label>
            <input id="age" th:field="*{age}" type="text">
        </p>
        <input type="submit">
    </form>
</div>
</body>
</html>